.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.result-block {
  height: 100px;
  margin: 30px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}